.container{
    max-width: 1170px;
    margin: auto;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #3E444D;
    padding: 40px 0 5px 0;

}
.footerCol{
    width: 25%;
    padding: 0 15px;
}
.colTitle{
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-weight: 700;
    position: relative;
}
.footerCol .footerUl .footerLi:not(:last-child){
    margin-bottom: 10px;
}
.footerCol .footerUl .footerLi a{
    font-size: 12px;
    color: #FFFFFFE5;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}
.footerCol .footerUl .footerLi a:hover{
    padding-left: 10px;
}
/*.footerCol .footerUl .footerLi .socialLinks1{
    background-color: #515178;
    height: 24px;
    width: 24px;
}*/
.social1 img{
    display: inline-block;
    height:24px;
    width: 24px;
    background: rgba(255, 255, 255, 0.25);
    margin: 0 6px 3px 0;
    text-align: center;
    line-height: 24px;
    border-radius: 40px;
}
.footerCol .social a{
    display: inline-block;
    height:24px;
    width: 24px;
    background: rgba(255, 255, 255, 0.25);
    margin: 24px 8px 16px 0;
    text-align: center;
    line-height: 24px;
    border-radius: 40px;
    transition: all 0.3s ease ;
}
.footerCol .social a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.line{
    /*display: flex;*/
    margin: 16px 144px 20px 144px;
    width: 1152px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.footerP{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: #FFFFFFE5;
}
/* responsive */
@media screen and (max-width: 767px){
  .footerCol{
      width:50%;
  }
  .line{
    margin: 20px auto;
    width: 380px;
}
}

@media screen and (max-width: 574px){
  .footerCol{
      width:100%;
  }
  .line{
    margin: 20px auto;
    width: 380px;
}
}
