/* ----------------------------------------- Banner */
.banner{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 60px;
  background: url(../public/images/Banner.svg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
/* ----------------------------------------- Header */
.Header{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 100%;
height: 160px;
font-family: 'Inter', sans-serif;
}
/* ---------------------------------------- Top sectin */
.top{
background: #D81B69;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 147px;
gap: 800px;
width: 100%;
height: 64px;
color: #ffffff;
font-family: 'Inter', sans-serif;
font-size: 14px;
}
.Inner{
display: flex;
justify-content: space-between;
align-items: center;
width: 1147px;
margin: 16px;
color: #3E444D;
}
.margin{
margin-right: 626px;
color: #FFFFFF;
}
.margin32{
margin-right: 32px;
color: #FFFFFF;
}
.margin20{
margin-right: 20px;
color: #FFFFFF;
}
/* ----------------------------------------- Bottom section */
.nav{
display: flex;
width: 100%;
background-color: #FFFFFF;
position: relative;
justify-content: space-between;
text-align: center;
padding: 12px 147px;
}
.nav .icon {
cursor: pointer ; 
margin-right: 159px;
}
.nav .ol{
display:flex;
list-style: none;
margin: auto 0 ;
cursor: pointer;
}
.nav .ol .li{
margin-right: 60px;
}
.nav .ol .li img{
padding-right: 14px;
}
.nav .ol .li a{
text-decoration: none;
text-transform: capitalize;
padding: 40px 10px;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #3E444D;
}
.search_box .input{
  border: none;
  padding-left:10px ;
  font-size: 16px;
  font-weight: 500;
  width: 350px;
  height: 40px;
}
.search_box{
  border: 1px solid #C8CBD0;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  margin: auto;
  width: 416px;
  height: 48px;
  line-height: 35px;
}
.search_box .span{
height: 100%;
cursor: pointer;
position: absolute;
top: 0px;
right: 7px;
}
/* ----------------------------------------- Affiliate program section*/
.affiliateProgram{
  width: 100vw;
  height: 692px;
  padding: 80px 147px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.content{
  background:  #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 840px;
  height: 532px;
  padding: 0px;
}
.headline{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #3E444D;
  text-align: center;
  letter-spacing: -0.02em;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 24px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 440px;
    margin-left: 440px;
    width: 558px;
    height: 120px;
    text-align: center;
    color: #636973;
}
.cards{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 840px;
  height: 236px;
  padding: 24px;
  background-color: #fff;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.08));
  border-radius: 16px;
  width: 264px;
  height: 236px;
  margin:10px;
  background: #fff;
}
.card:hover{
  cursor: pointer;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
}
.cardImg{
  width: 80px;
  height: 92px;
}
.cardTitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3E444D;
}
.cardContent{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #636973;
}
/* -------------------------------------- Statics section --------------------------- */
.statics{
  background:  #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;/*484px*/
  padding: 80px 147px;
}
.staticsHeadline{
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  color: #3E444D;
  text-align: center;
  letter-spacing: -0.02em;
  margin: 40px 200px;/*
  margin-right: 200px;
  margin-left: 200px;*/
}
.staticsFrame{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 644px;
  height: auto;/*68px*/
}
.static{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 68px;
}
.staticContent{
font-weight: 400;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.02em;
color: #636973;
}
.contentTitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #3E444D;
  margin-bottom: 8px;
}
.staticsBtn{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 200px;
  height: 48px;
  background: #D81B69;
  border-radius: 8px; 
  color: #fff;
  transition: all .4s ease;
}
.staticsBtn:hover{
  border-radius: 15px;
}
/* ---------------------------------------- HERO SECTION ------------------------------ */
.hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 80px 147px;
  gap: 30px;
  width: 100%;
  height: 656px;
  background: #FFFFFF;
  /*left: 0px;
  top: 292px;  */
}
.heroImgMobile{
  display: none;
}
.block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 558px;
  height: 496px;
}
.breadcrumb{
  display: flex;
  flex-direction: row;
}
.heroHeadline{
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #3E444D;
  margin-bottom: 24px;
}
.heroText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #636973;
  width: 558px;
  height: 120px;  
}
.heroButtons{
  display: flex;
  flex-direction: row;
  margin-left: 147;
  margin-top: 24px;
}
.heroBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left:14px;
  padding-right:14px;
  gap: 8px;
  width: 311px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #D81B69;
  color: #D81B69;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.heroStaticsBtn{
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 200px;
  height: 48px;
  background: #D81B69;
  border-radius: 8px; 
  color: #fff;
}
/* a responsive hero */
@media screen and (max-width: 574px){
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 24px;
    gap: 30px;
    width: 100%;
    height: 1075.1px;
    left: 0px;
    top: 444px;
  }
  .heroImgMobile{
    display: flex;
  }
  .heroImgWeb{
    display: none;
  }
  .block{
    margin-left: 32px;
  }
  .heroHeadline{
    font-size: 48px;
    line-height: 56px;
    width: 380px;
  }
  .heroText{
    width: 480px;
    height: 168px;
  }
  .heroButtons{
    display: flex;
    flex-direction: column;
  }
  .heroBtn{
    width: 100%;
  }
  .heroStaticsBtn{
    width: 100%;
    margin-bottom: 16px;
  }
}
/* responsive */
@media screen and (max-width: 574px){
  .banner{
    background: url(../public/images/BannerMobile.svg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }
  .top{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    height: 96px;
  }
  .Inner{
      width: 380px;
      height: 64px;
      flex-wrap: wrap;
  }
  .margin{
      margin-right: -20px;
  }
  .margin32{
      margin-right: 40px;
  }
  .margin20{
      margin-right: 20px;
      margin-left: 50px;
  }
  /* bottom */
  .nav{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 24px;
      gap: 16px;
      width: 574px;
      height: 216px;
      flex-wrap: wrap;
  }
  .search_box{
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 12px 12px 20px;
        gap: 78px;
        margin: 0px 20px;
        width: 480px;
        height: 48px;
        border: 1px solid #C8CBD0;
        border-radius: 8px;
  }
  .nav .ol{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 16px;
        margin: auto;
        width: 480px;
        height: 40px;
  }
  .headline{
    font-size: 48px;
    line-height: 56px;
    width: 380px;
    height: 112px;
    margin-bottom: 24px;
  }
  .text{
    width: 380px;
    height: 168px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .statics{
    display: none;
  }
  /* responsive cards */ 
}
/* ---------------------------------------------------------------- SIGN UP PAGE ------------------------- */
.registerLogo{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register{
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 120px 147px;
  gap: 30px;
  background-color: #fff;
  width: 100%;
  height: 1008px;
}
.registerLeft{
  width: 558px;
  height: 768px;
}
.registerBreadcrumb{
  display: flex;
  flex-direction: row;
}
.registerHeadline{
  width: 558px;
  height: 128px;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #3E444D;
  margin-top: 40px;
  margin-bottom: 32px;
}
.Tabs{
  display: flex;
  flex-direction: row;
  width: 259px;
  height: 40px;
  margin-bottom: 24px;
}
.registerTab{
  border-bottom: 2px solid #F2F2F2;
  padding: 2px 8px;
}
.registerLink{
  width: 129px;
  height: 24px;
  color: #A0A4AB;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.connectTab{
  border-bottom: 2px solid #F2F2F2;
  padding: 2px 8px;
}
.connectLink{
  width: 82px;
  height: 24px;
  color: #A0A4AB;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.active{
  border-bottom: 3px solid #D81B69;
}
.activeLink{
  color: #D81B69;
}
.registerText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 558px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #636973;
  margin-bottom: 24px;
}
.registerForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 558px;
  height: 392px;
}
.registerInputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 558px;
  height: 320px;
  margin-bottom: 24px;
}
.registerInputText{
  width: 558px;
  height: 68px;
  letter-spacing: 0.02em;
  font-size: 12px;
  color: #3E444D;
}
.registerInputContent{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  width: 558px;
  height: 48px;
  border: 1px solid #C8CBD0;
  border-radius: 8px;
  outline:none;
}
.eye{
  position: relative;
  top: -45%;
  right: -530px;
  cursor: pointer;
}
.registerBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 558px;
  height: 48px;
  background: #D81B69;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.connectionInputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 558px;
  height: 152px;
  margin-bottom: 24px;
}
/* responsive */
@media screen and (max-width: 574px){
  .registerImg{
    display: none;
  }
  .registerLeft{
    width: 380px;
  }
  .registerHeadline{
    font-size: 48px;
    line-height: 56px;
    width: 380px;
    height: 112px;
    margin-bottom: 32px;
  }
  .registerText{
    width: 388px;
    height: 96px;
  }
  .registerInputText{
    width: 380px;
    height: 68px;
  }
  .registerInputContent{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: 380px;
    height: 48px;
  }
  .registerBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 380px;
    height: 48px;
  }
  .eye{
    position: relative;
    top: -45%;
    left: 92%;
    cursor: pointer;
  }
}
/*--------------------------------------------------- 04 -------------*/
.navcontainer{
  /*position: fixed;*/
  width: 200px;
  height: 892px;
  background-color: #3E444D;
}
.wrapper{
  z-index: 1;
}
.wrapper>ul{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  gap: 20px;
}
.wrapper>ul>li{
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 76px;
  cursor: pointer;
}
.wrapper>ul>li>img{
  width: 20px;
  height: 20px;
  margin: auto;
}
.wrapper>ul>li>a{
  margin-top: 5px;
}
.wrapper>ul>li:hover{
  background-color: #D81B69;
}
.btn4{
  width: 169px;
  height: 48px;
  background-color: #FF6666;
  color: #fff;
  padding: 12px 20px ;
  border-radius: 8px;
  position: absolute;
  bottom: 0;/*1100px*/
  left: 13px;
}
.btn4 img{
  margin-right: 12px;
}
/* header */
.headcontainer{
  display: flex;
  position: absolute;
  width: calc(100% - 200px);
  align-items: center;
  top: 0;
  left: 200px;
  flex-wrap: wrap;
  height: 120px;
  /*background-color: #E5E5E5;*/
  
}
.headwrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.headtitle{
  margin-left: 40px;
}
.dashHeadTitle{
  font-size: 14px;
  font-weight: 500;
}
.dashFrame{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #C8CBD0;
  border-radius: 8px;
  padding: 12px 12px 12px 20px;
  height: 48px;
  width: 402px;
  background: #fff;
}
.frameTitle{
  font-weight: 500;
  font-size: 12px;
  cursor: text;
}
.frameSpan{
  cursor: pointer;
  position: absolute;
  margin-left: 92px;
  font-size: 16px;
  font-weight: 500;
  color: #D81B69;
}
.profile{
  position: absolute;
  right: 20px;
}
.profileImage{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px;
}
/* for mobile*/
@media screen and (max-width: 768px){
  .headcontainer{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
    position: absolute;
    width: 545px;
    height: 188px;
    margin: 10px 5px;
  }
  .profile{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 0;
  }
  .headwrapper{
    display: flex;
    position: absolute;
    top: 60px;
    left: -35px;
    margin-top: 10px;
  }
  .dashFrame{
    margin-top: 5px;
  }
  /* knt dayratou 
  .contentContainer{
    position: absolute;
    top: 120px;
    margin-top: 67px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    border: 1px solid blueviolet;
  }
  */
}
/*hna n7o6 l code l9dim */

/* content started */
.contentContainer{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 80px;
  top: 150px;
  left: 200px;
}
.contentWrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
}
.tabs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 0px 6px 0px #ddd;
  margin: 0 auto;
}
.categories{
  display: flex;
}
.imgframe{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background: #D81B69;
  border-radius: 12px;
  margin-right: 16px;
}
.textframe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}
@media only screen and (max-width:768px){  
.contentWrapper{
  margin: 0 auto ;
  display: grid;
  grid-template-columns: 1fr;
}
.tabs{
  width: 350px;
  margin-bottom: -20px;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
}
.tabs:hover{
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.08);
}
}

.stat{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}
.statCard{
  width: 65% ;
  height: auto;
  margin: 25px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  top: 321px;
  left: 200px;
}
.statCard2{
  width: 35%;
  height: 315px;
  background: #fff;
  border-radius: 16px;
  margin: 25px;
  display: flex;
  top: 321px;
  right: 31px;
}
.statContent{
  margin: 24px 22px;
  color: #3e444d;
}
.cardTab{
  width: 200px;
  height: 72px;
  background-color: #f5f8fb;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cardTabs{
  margin: 40px 3px;
}
.cardTabs>.cardTab{
  margin: 8px 0;
}
.chart{
  /*width: 350px;
  width: 50%;*/
  height: 220px;
  border: 1px solid blue;
  margin: 60px 36px 35px 39px;
}
@media only screen and (max-width:768px){
  .statCard{
    display: flex;
    flex-direction: column;
  }
}
/* side nav */
.sidenav{
  width: 200px;
  height: 100vh;
}
.SideNavContainer{
  display: block;
}
.imgLogo{
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 574px){
  .imgLogo{
      display: block;
  }
  .sidenav{
      width: 100vw;
      height: auto;
  }
  .SideNavContainer{
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
.nav1{
  display: flex;
  flex-direction: column;
  width: 200px ;
  height: auto;
}
.navItems{
  display: flex;
  flex-direction: column;
}
.item{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item:hover {
  background-color: #D81B69;
}
@media screen and (max-width: 574px){
  .nav1{
      display: none;
  }
}
.logoutBtn{
  display: flex;
  width: 165px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 16px;
  background: #FF6666;
  padding: 12px 23px;
  color: white;
  position: absolute;
  bottom: 24px;
  left: 18px;
  font-size: 16px;
}

