/* Navigation start */
.Inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1147px;
  margin: 16px;
  color: #3E444D;
  }
  .all{
    display: flex;
    background : transparent;
    width: 100%;
    height:70px;
  }
.navigation{
    justify-content: center;
    padding: 18px 147px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0px;
    top: 220px;
    width: 100%;
    height: 72px;
    background-color: #F5F8FB;
    font-family: 'Inter', sans-serif;
  }
  .btn{
    background: #D81B69;
    border-radius: 8px;
    padding: 8px 12px;
    color: #FFFFFF;
  }
  @media screen and (max-width: 574px){
    .Inner{
      display: flex;
      width: 574px;
      margin: 16px;
      color: #3E444D;
      margin-top: 170px;
      flex-wrap: wrap;
    }
    .all{
      display:flex;
      width: 574px;
      height:220px;
      background-color: #F5F8FB;
    }
  .navigation{
    margin-top: 72px;
    padding-left: 0px;
    }
  .link{
    margin-right: 28px;
  }
  .btn{
    margin-right: 50px;
  }
  }
  /* responsive */
  /* Navigation end */